.landing-page-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.landing-page-card>img{
    max-width: 350px;
    height: auto;
    border-radius: 10% 10%;
    background-color: white;
}
.landing-page-card-button{
    border-radius: 30px;
    box-shadow: 0 3px 2px hsl(var(--clr-dark),.2);
    border: none;
    background-color: white;
}
.landing-page-card-button>section{
    font-weight: 600;
}

.landing-page-card-button:hover{
    cursor: pointer;
}