

.landing-page-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 95%;
}
.landing-page-card>img{
    max-width: 350px;
    height: auto;
    border-radius: 10% 10%;
    background-color: white;
    z-index: 2;
}
.landing-page-paragraph {
   max-width: 1000px;
}
.landing-page-card-button{
    border-radius: 30px;
    box-shadow: 0 3px 2px hsl(var(--clr-dark),.2);
    border: none;
    background-color: white;
    z-index: 2;
}
.landing-page-card-button>section{
    font-weight: 600;
}

.landing-page-card-button:hover{
    cursor: pointer;
}

.button-container{
    position: relative;
    height: 100px;
    width: 200px;
    background-color: white;
    z-index: 2;
}

.button-letter{
    position: absolute;
    z-index: 2;
}







/* --------------------------------------------------------------------------------------------*/
/*   landing page bobs z index important bgs and positions and radius variable on all of them  */
/* --------------------------------------------------------------------------------------------*/

.landing-page-blob-1{
    position: absolute;
    top: 400px;
    right:1vw;
    background-image: linear-gradient(90deg, hsl(var(--clr-pink)), hsl(var(--clr-dark-blue)));
    height: 700px;
    width: 740px;
    border-radius: 25% 75% 27% 73% / 39% 43% 57% 61%  ;
    z-index: 1;
    overflow: hidden;

}
.landing-page-blob-2{
    position: absolute;
    top: 1100px;
    right: 3vw;
    background-image: linear-gradient(90deg, hsl(var(--clr-yellow)), hsl(var(--clr-orange)));
    height: 500px;
    width: 1000px;
    border-radius: 33% 67% 16% 84% / 42% 48% 52% 58%  ;
    z-index: 1;
    overflow: hidden;

}

.landing-page-blob-3{
    position: absolute;
    top: 600px;
    right: 40vw;
    background-color: hsl(var(--clr-yellow), .8);
    height: 958px;
    width: 737px;
    border-radius: 33% 67% 16% 84% / 42% 48% 52% 58%  ;
    z-index: 0;
    overflow: hidden;

}
.landing-page-blob-4{
    position: absolute;
    top: -50px;
    right: 10vw;
    background-image: linear-gradient(90deg, hsl(var(--clr-green)), hsl(var(--clr-light-blue)));
    height: 958px;
    width: 737px;
    border-radius: 69% 31% 30% 70% / 78% 27% 73% 22%   ;
    z-index: 0;
    overflow: hidden;

}
.landing-page-blob-5{
    position: absolute;
    top: 1200px;
    right: 45vw;
    background-color:  hsl(var(--clr-light-blue),.8);
    height: 758px;
    width: 737px;
    border-radius:34% 66% 41% 59% / 69% 14% 86% 31%    ;
    z-index: 0;
    overflow: hidden;

}
.landing-page-blob-6{
    position: absolute;
    top: -20px;
    left: 20vw;
    background-color:  hsl(var(--clr-pink),.9);
    height: 308px;
    width: 337px;
    border-radius:34% 66% 41% 59% / 69% 14% 86% 31%    ;
    z-index: 0;
    overflow: hidden;

}