.nav-container{
    min-height:60px;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    max-height: 100px;
    width: auto;
}
.nav-item{
    padding: .5rem;
    background-image: linear-gradient(90deg, hsl(var(--clr-pink)), hsl(var(--clr-orange)));
    background-clip: text;
    color: transparent;

}
.nav-item>a{
    color: transparent;
    font-weight: 700;
}



/* testing gradients */


.testing{


    background: hsla(40, 82%, 72%, 1);

    background: linear-gradient(90deg, hsla(40, 82%, 72%, 1) 0%, hsla(0, 89%, 78%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(40, 82%, 72%, 1) 0%, hsla(0, 89%, 78%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(40, 82%, 72%, 1) 0%, hsla(0, 89%, 78%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2CA7B", endColorstr="#F99393", GradientType=1 );
}