.nav-container{
    min-height:60px;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    max-height: 100px;
    width: auto;
    margin: 10px;
}

.nav-item{
    padding: .5rem;
    color: transparent;
    font-weight: 700;
    
}
.nav-item:hover,
.logo:hover{
    cursor: pointer;
}